header {
  background-image: url(coffeebar.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}
.section {
  padding: 10vw;
}
.tabs .indicator {
  background-color: #1a237e;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: transparent;
}
.brand-logo {
  font-family: monospace;
}
@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}
